
                <div class="searchMainArea">
                    <div class="searchArea">
                        <input type="text" class="search" placeholder="Search">
                        <i class="fas fa-search"></i>
                    </div>
                    <a href="#" class="newChatButton">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <div class="personList contactsArea">
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/profile-photo3.png" alt="">
                        <div class="content">
                            <div class="name">
                                Emily Blunt
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/profile-photo2.png" alt="">
                        <div class="content">
                            <div class="name">
                                Aamir Khan
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson contacts">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                        </div>
                        <hr class="bottomLine">
                    </div>
                </div>