
<div class="profileArea createPersonArea">
    <a href="#" class="close">
        <i class="fas fa-times"></i>
    </a>
    <img src="/images/default-image.png" class="profileImg" alt="Profile Photo">
    <div class="nameArea">
        <label for="personName">Name</label>
        <input type="text" name="personName" id="personName">
    </div>
    <div class="nameArea">
        <label for="personEmail">E-mail</label>
        <input type="text" name="personEmail" id="personEmail">
    </div>
    <div class="buttonsArea">
        <button class="cancel" id="cancelCreationPerson">Cancel</button>
        <button class="create" id="createPerson">Create</button>
    </div>
</div>