
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/toastr.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/privateJs/globalFunctions.js"></script>
    <script type="text/javascript" src="/js/privateJs/custom.js"></script>
    <script type="text/javascript" src="/js/privateJs/contacts.js"></script>
    <script type="text/javascript" src="/js/privateJs/profile.js"></script>
    <script type="text/javascript" src="/js/privateJs/chat.js"></script>
    <script type="text/javascript" src="/js/privateJs/socketProcess.js"></script>

</body>
</html>