<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ChatApp</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="ChatApp">
    <meta name="lang" content="en" />
    <meta name="keywords" content='ChatApp'>
    <meta name="author" content="Hasan Bekir DOĞAN" />
    <meta name="copyright" content="Hasan Bekir DOĞAN" />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel = "icon" href="/images/favicon.png" type="image/x-icon">

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css?v=32">
    <link type="text/css" rel="stylesheet" href="/css/toastr.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert2.css">
</head>
<body>
