
<div class="profileArea">
    <a href="#" class="close">
        <i class="fas fa-times"></i>
    </a>
    <img src="/images/profile-photo.png" class="profileImg" alt="">
    <div class="nameArea">
        <label for="name">Your Name</label>
        <input type="text" name="name" id="name">
        <a href="#">
            <i class="fas fa-check"></i>
        </a>
    </div>
</div>