<%- include('../partials/_header'); %>

    <div class="notfoundPage">
        <ul>
            <li>404</li>
            <li>THE PAGE</li>
            <li>WAS NOT FOUND</li>
            <li><a href="/">BACK TO HOME</a></li>
        </ul>
    </div>

<%- include('../partials/_footer'); %>